body *{
    outline: 1px solid blue;
    /* padding: 0;
    margin: 0; */
}
div.container{
    width: 980px;
    min-height: 800px;
    background-color: red;
    margin: 0px auto;
}
div.container div.top{
    min-height: 100px;
    background-color: green;
}
div.container div.top div.logo{
     width: 300px;
     display: inline-block;
}
div.container div.top ul{
    display: inline-block;
} 
div.container div.top ul li{
    display: inline-block;
    font-size: 24px;
    padding: 10px;
}
div.container h1{
    text-align: center;
}
div.container div.bottom{
    min-height: 400px;
    background-color: yellow;
}
div.container div.bottom div.message{
    display: inline-block;
    vertical-align: top;
    width: 280px;
    margin: 5px;
    min-height: 300px;
    padding: 10px;
    text-align: center;
}
div.container div.message div.image{
    height: 80px;
}
div.container div.bottom div.message a{
    display: block;
    background-color: orange;
    padding: 10px;
    border: 1px solid black;
    color: white;
    text-decoration: none;
}
#message :nth-child(5){
    margin-top: 35px;
}